.app {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBar {
    width: 50%;
    height: 30px;
    padding: 0 0 0 20px;
    border-radius: 20px;
}

.foodInfo {
    width: 70%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.foodContainer {
    width: 50%;
}

.overviewContainer {
    width: 50%;
}

.add-product {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-product-btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 2px 3px gainsboro;
}